<app-card titulo="primeiro componente" cor="#3D4D63">
    <app-primary></app-primary>
</app-card>

<app-card cor="#B2E7E8">
    <app-secundary-component></app-secundary-component>
</app-card>

<app-card cor="#BFB9AA"> 
    <app-pipe-ex></app-pipe-ex>
</app-card>

<app-card cor="#F2D096">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card cor="#ED8975">
    <app-render-list></app-render-list>
</app-card>

<app-card cor="#FFE3DC">
    <app-custom-component name="yuri" lastName="raffic"></app-custom-component>
</app-card>

<app-card cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card cor="#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card>
    <app-ciclo-de-vida></app-ciclo-de-vida>
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
